@import 'colors';

.change-password-container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h3 {
      margin-bottom: 2em;
      font-size: 1rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      .password_group{
        display: flex;
        gap: 1rem;

  
  
        label {
          display: block;
          margin-bottom: 5px;
        }
  
        input {
          flex: 1;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
          background-color: #f4f8ff;
          width: 100%;
        }
  
        &.full-width {
          flex-direction: column;
          input {
            width: 100%;
          }
        }
      }
  
      button {
        width: 40%;
        margin-top: 20px;
        padding: 10px;
        font-size: 1rem;
        color: #fff;
        background-color: $third;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
  }

  .password_box
  {
    width: 50%;
  }
  
  // Responsive design
  @media (max-width: 768px) {
    .password_group {
      flex-direction: column;
    }
  }
  