@import "../CandidateStyle/colors.scss";



// Recruiter side bar code here 

.recruiter-sidebar
{
  height: 120vh

}

// Recruiter side bar code here


.responsive-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;

  .full-width {
    grid-column: span 2;
  }

  // Responsive Design
  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .form-group {
      .input-container {
        padding: 0.4em;

        .icon {
          font-size: 1.2rem;
        }

        input {
          font-size: 0.9rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .form-group {
      label {
        font-size: 0.9rem;
      }

      .input-container {
        padding: 0.3em;

        input {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: 1rem;
    color: #333;
  }

  .input-container {
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #f2f8ff;
    padding: 0.6em;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      font-size: 1rem;
      color: #333;

      &::placeholder {
        color: #999;
      }
    }
  }
}

textarea {
  width: 94% !important;
  resize: none;
  rows: 3; 
}

.fuAD {
  margin-bottom: 2rem;
  width: 50rem !important;

  .input-container {
    width: 100%;
  }
}

form button {
  width: 20%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: $third;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2rem;
}

@media (max-width: 480px) {
  textarea {
    width: 80% !important;
  }
}

form{
  padding: 1rem;
}